<div>
  <form #dialog="ngForm">
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
  </div>
  <div class="modal-body breakline" *ngIf="!needsInputField">
    {{message}}
  </div>
  <div class="modal-body breakline" *ngIf="needsInputField">
    <div class="row">
      <label for="label" class="col-sm-2 col-form-label">Label:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="label" name="label" minlength="1" required [(ngModel)]="value">
        <!--<p>{{value}}</p>-->
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-danger btn-icon" (click)="modalRef.hide()">
      <i class="fa fa-times"></i>
    </button>
    <button class="btn btn-outline-success btn-icon" type="button" (click)="confirm()"
            *ngIf="!needsInputField">
      <i class="fa fa-check"></i>
    </button>
    <button class="btn btn-outline-success btn-icon" type="button" (click)="confirm()"
            *ngIf="needsInputField" [disabled]="!dialog.form.valid">
      <i class="fa fa-check"></i>
    </button>
  </div>
  </form>
</div>
