<div class="collapsible-tree">
  <div>
    <svg width="575" height="30">
      <g class="node" transform="translate(15, 15)">
        <circle class="node" r="10"></circle>
        <text dy=".35em" x="15" text-anchor="start">model</text>
      </g>
      <g class="node" transform="translate(115, 15)">
        <circle class="node machine" r="10"></circle>
        <text dy=".35em" x="15" text-anchor="start">machine</text>
      </g>
      <g class="node" transform="translate(215, 15)">
        <circle class="node sensor" r="10"></circle>
        <text dy=".35em" x="15" text-anchor="start">sensor</text>
      </g>
      <g class="node" transform="translate(315, 15)">
        <circle class="node component" r="10"></circle>
        <text dy=".35em" x="15" text-anchor="start">component</text>
      </g>
      <g class="node" transform="translate(415, 15)">
        <circle class="node property" r="10"></circle>
        <text dy=".35em" x="15" text-anchor="start">property</text>
      </g>
      <g class="node" transform="translate(515, 15)">
        <circle class="node variable" r="10"></circle>
        <text dy=".35em" x="15" text-anchor="start">variable</text>
      </g>
    </svg>
  </div>
</div>
<div class="collapsible-tree" id="tree-container"></div>
